@import url("https://fonts.googlepis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #ad00ff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header.sticky .logo {
  color: #111;
}

header .logo span {
  color: #ff0157;
}

header nav ul {
  position: relative;
  display: flex;
}

header nav ul li {
  list-style: none;
  margin-left: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

header.sticky nav ul li a {
  color: #111;
}

header nav ul li a:hover {
  color: #ff0157;
  text-decoration: underline;
}
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }

  header nav ul {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }

  header nav ul li {
    margin-left: 0;
  }

  header nav ul li a {
    color: #111;
    font-size: 1.6em;
  }


  .menuToogle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url("menu.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .menuToogle.active {
    background: url("close.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header.sticky .menuToogle {
    filter: invert(1);
  }
}

.subs{
  position: absolute;
  top: 400px;
  left: 450px;
}



.first{
  display: flex;
  justify-content: space-evenly;
  flex-direction:row ;
  margin-top: 200px;
}

.videos p{
  font-size: 18px;
  margin-top: 150px;
  color: #fff;
}

hr{
  margin-top: 20px;
}

.second, .fourth{
  display: flex;
  justify-content: space-evenly;
  flex-direction:row-reverse;
  margin-top: 20px;
}

.thrid{
  display: flex;
  justify-content: space-evenly;
  flex-direction:row;
  margin-top: 20px;
}



.mayank{
  display: flex;
  justify-content: space-evenly;
  flex-direction:row;
  margin-top: 200px;
}

.mayank img{
  height: 200px;
}

.mayank p{
  color: #fff;
  margin-top: 60px;
}

.diya{
  display: flex;
  justify-content: space-evenly;
  flex-direction:row-reverse;
}

.diya img{
  width: 250px;
}

.diya p{
  color: #fff;
  margin-top: 50px;
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.submit{
  border:0;
  outline:none;
  border-radius:0;
  padding:15px;
  font-size:2rem;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  color:white;
  transition:all.5s ease;
  background-color: darkgreen;
  margin-top: 23px;
  cursor: pointer;
}

input[type="text"]{
  padding: 20px;
  margin-bottom: 20px;
}